* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    --webkit-font-smoothing: antialiased;
    font-family:  Rubik, sans-serif;
}

header {
    margin: 0;
}

h1 {
    font-size: 30px;
}